<ion-header>
  <ion-toolbar>
    <ion-title>personalinfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
          <ion-label position="floating">Blood Group</ion-label>
          <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>D MMM YYYY H:mm</ion-label>
        <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
    </ion-item>
</form>
</ion-content>
