<ion-header>
  <ion-toolbar>
    <ion-title align="center">Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
          <ion-label position="floating">Blood Group</ion-label>
          <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label  position="floating">DOB</ion-label>
        <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2010"></ion-datetime>
    </ion-item>
    <div class="text-center">
        <button class="btn" routerLink="/dashborad" ion-button type="submit" block>Save</button>
    </div>
</form>
</ion-content>
