<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verification</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
          <ion-col size="4">
    
          </ion-col>
          <ion-col size="4">
              <div size="4" class="text-center">
                  <img src="/assets/img/blood.png">
              </div>
            </ion-col>
            <ion-col size="4">
    
              </ion-col>
        </ion-row>
      </ion-grid>
      <h3 class="text-center">Enter Otp</h3>

    <form>
        <!-- <p class="font text-center">Enter OTP</p>
        <p class="text-center para mb-3">Enter the OTP sent to your number</p> -->
        <ion-item>
            <ion-label position="floating">OTP Number</ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        <br>
          <button class="btn" routerLink="/personalinfo" ion-button type="submit" block>Verify</button>
        <div class="mt-2 text-center">
            <span class="font"><a routerLink="#" class="" >Resend OTP</a></span>
         </div>
      </form>
</ion-content>
