
h3{
    color: #ea3d3d;
    font-weight: bolder; 
   margin-top: -5px;
}

button{
    margin-top: 1rem;
    background-color: #ea3d3d;
    color: white;
    width: 100%;
    outline: none
}
span{
    color: #1c1c1c;
    font-size: 11px;
}
button:focus{
    background-color: #ea3d3d;
    color: white;
    width: 100%;
    outline: none !important;
}
ion-label{
    color: #1c1c1c !important;

}
.ion-focusable{
    --highlight-color-focused: #615f5fe8;
    padding: 0px 10px 0px 10px;
    // --highlight-color-invalid: #f04141;
    // --highlight-color-valid: red;
}
ion-checkbox{
    --background-checked: #ea3d3d;
    --border-color-checked: #ea3d3d;
}